# List Comprehension Lab

### Introduction

In this lesson, we'll practice working with list comprehension while working with data regarding restaurant chains.  Let's get started.

### Loading the Data

In [1]:
import pandas as pd
url = "https://en.wikipedia.org/wiki/List_of_the_largest_fast_food_restaurant_chains"

In [4]:
tables = pd.read_html(url, index_col = 0)
restaurant_chains =  tables[-1].to_dict('records')

In [5]:
restaurant_chains[:3]

[{'Name': nan,
  'Name.1': 'Subway',
  'Number of locations': '42,600[1]',
  'Revenue': 'US$10.4 billion (2020)[2]'},
 {'Name': nan,
  'Name.1': "McDonald's",
  'Number of locations': '38,695[3]',
  'Revenue': 'US$20.8 billion (2020)[2]'},
 {'Name': nan,
  'Name.1': 'Starbucks',
  'Number of locations': '31,256[4]',
  'Revenue': 'US$26.7 billion(2020)[5]'}]

Ok, so we now have a list dictionaries where each dictionary represents a separate restaurant chain.

### Selecting our Data

Let's begin by using list comprehension to create a list of the names of each restaurant chain.

> Assign the result to the variable `restaurant_names`.

In [7]:
restaurant_names = [chain['Name.1'] for chain in restaurant_chains]

restaurant_names[:4]

# ['Subway', "McDonald's", 'Starbucks', 'KFC']

['Subway', "McDonald's", 'Starbucks', 'KFC']

Now use list comprehension to select the number of locations of each restaurant chain.

> Assign the result to the variable `franchise_amounts`.

In [8]:
franchise_amounts = [chain['Number of locations'] for chain in restaurant_chains]

In [9]:
franchise_amounts[:3]

['42,600[1]', '38,695[3]', '31,256[4]']

In [ ]:
Clean the number of franchises

In [18]:
clean_franchise_amounts = [chain['Number of locations'].split('[')[0] for chain in restaurant_chains]

In [19]:
clean_franchise_amounts[:3]

['42,600', '38,695', '31,256']

In [20]:
clean_franchise_amounts[-3:]

['507+', '500+', '500']

> As a bonus, see if you can coerce the data from a list of strings to a list of integers. 
> **Hint**: Look up the `replace` method.

In [24]:
franchise_amounts = [int(clean_franchise.replace(',', '').replace('+', '').replace('~', '')) for clean_franchise in clean_franchise_amounts]

In [25]:
franchise_amounts[:3]

# [42600, 38695, 31256]

[42600, 38695, 31256]